<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="spanish">
                    <match url="^es/cirugia-obesidad/(.*)/?$" />
                    <action type="Rewrite" url="cirugia-obesidad/index.php?method=$1" />
                </rule>
                <rule name="instituto">
                    <match url="^es/instituto-obesidad/(.*)/?$" />
                    <action type="Rewrite" url="instituto-obesidad/index.php?page=$1" />
                </rule>
                <rule name="Salud">
                    <match url="^es/salud-madrid/(.*)/?$" />
                    <action type="Rewrite" url="salud-madrid/index.php?page=$1 [L]" />
                </rule>
                <rule name="diagnostico">
                    <match url="^es/diagnostico-obesidad/(.*)/?$" />
                    <action type="Rewrite" url="diagnostico-obesidad/index.php?page=$1" />
                </rule>
                <rule name="pacientes">
                    <match url="^es/pacientes-internacionales/?$" />
                    <action type="Rewrite" url="pacientes-internacionales/index.php" />
                </rule>
                <rule name="blog-es">
                    <match url="^es/blog/?$" />
                    <action type="Rewrite" url="blog/es/" />
                </rule>
                <rule name="espanol">
                    <match url="^es/?$" />
                    <action type="Rewrite" url="/" />
                </rule>
                <rule name="english">
                    <match url="^en/?$" />
                    <action type="Rewrite" url="/" />
                </rule>
                <rule name="deutch">
                    <match url="^de/?$" />
                    <action type="Rewrite" url="/" />
                </rule>
                <rule name="panel">
                    <match url="^panel/es/(.*)/?$" />
                    <action type="Rewrite" url="panel/$1 [L]" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
