<header class="wrapper text-center">
	<strong>{{dictionary.texts.login[lang]}}</strong>
</header>
<form name="access" action="panel.php" method="post" novalidate>
	<div class="list-group">
		<div class="list-group-item">
			<input ng-model="user" type="text" name="user" placeholder="{{dictionary.fields.user[lang]}}" required class="form-control no-border">
			<div ng-show="access.name.$touched && !access.$pristine">
				<span ng-show="access.name.$error.required" class="alert">.</span>
			</div>
		</div>
		<div class="list-group-item">
			<input ng-model="pass" type="password" name="pass" placeholder="{{dictionary.fields.pass[lang]}}" required class="form-control no-border">
			<div ng-show="access.pass.$touched && !access.$pristine">
				<span ng-show="access.pass.$error.required" class="alert">.</span>
			</div>
		</div>
	</div>
	<input type="hidden" name="access" value="adminLogin">
	<button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="!access.$valid">Entrar</button>
	<!-- <div class="text-center m-t m-b"><a href="#"><small>Olvidaste la contraseña?</small></a></div> -->
	<div class="text-center m-t m-b"><a href="#login"><small>No soy Admin</small></a></div>
	<div class="line line-dashed"></div>
</form>